<form (ngSubmit)="createItem()" class="container mt-4">
  <div class="mb-3">
    <label for="cedula" class="form-label">Cédula:</label>
    <input id="cedula" [(ngModel)]="newItem.cedula" name="cedula" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre:</label>
    <input id="nombre" [(ngModel)]="newItem.nombre" name="nombre" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="correo" class="form-label">Correo Electrónico:</label>
    <input id="correo" [(ngModel)]="newItem.correo" name="correo" class="form-control" type="email" required>
  </div>

  <button type="submit" class="btn btn-primary">Crear</button>
</form>
